/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
}

:root {
  --color-primary: #340068;
  --color-accent: #ff6978;
  --color-bg: #fffcf9;
}

/* navbar */
.nav-items {
  list-style-type: none;
  display: flex;
  padding: 1.5rem;
  margin: 0;
  justify-content: center;
  gap: 2rem;
}

.nav-item a {
  text-decoration: none;
  color: #000;
}

#content-display {
  min-height: 100vh;
  margin-top: 16px;
  padding: 1.5rem;
}

/* cards */
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 8px 0;
}

.card {
  flex-basis: 250px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1.5rem;
}

.item-title {
  font-weight: 600;
  font-size: 1.2rem;
}

.add-cart {
  border: none;
  font-size: 1.1rem;
  padding: 8px;
  border-radius: 24px;
  margin-top: 8px;
  cursor: pointer;
}
