/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  /* 4. Add accessible line-height */
  line-height: 1.5;
}

:root {
  --color-primary: #340068;
  --color-accent: #ff6978;
  --color-bg: #fffcf9;
}

/* navbar */
.nav-items {
  list-style-type: none;
  display: flex;
  padding: 1.5rem;
  margin: 0;
  justify-content: center;
  gap: 2rem;
}

.nav-item a {
  text-decoration: none;
  color: #000;
  transition: all 1s;
}

.nav-item a:hover {
  font-weight: 900;
  border-bottom: 1px solid #000;
}

.spacer {
  flex: 1;
}

.nav-cart {
  position: relative;
}

.counter-badge {
  background-color: var(--color-accent);
  position: absolute;
  padding: 4px;
  border-radius: 50%;
  color: #fff;
  top: -45%;
  left: 50%;
  height: 18px;
  min-width: 18px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#content-display {
  min-height: 100vh;
  margin-top: 16px;
  padding: 1.5rem;
}

/* cards */
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 8px 0;
  justify-content: space-evenly;
}

.card {
  flex-basis: 250px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1.5rem;
  font-size: 1.2rem;
  border-radius: 24px;
}

.image-deck {
  display: flex;
  justify-content: center;
}

.image-deck img {
  height: 200px;
  object-fit: contain;
}

.item-title {
  font-weight: 600;
  font-size: 1.2rem;
}

.add-cart {
  border: none;
  font-size: 1.1rem;
  padding: 8px;
  border-radius: 24px;
  margin-top: 8px;
  cursor: pointer;
  color: #fffcf9;
  background-color: #ff6978;
}

.added {
  margin-top: 8px;
  padding: 8px;
  background-color: #03c03c;
  color: #fff;
  display: inline-block;
  border-radius: 24px;
  font-size: 1.1rem;
}

.cart {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
}

.cart-items {
  margin-top: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  flex-grow: 3;
  border-radius: 24px;
}

.cart-item {
  display: flex;
  gap: 2rem;
  margin-top: 24px;
  border-bottom: 1px solid #000;
  padding: 1.25rem;
}

.cart-item:last-child {
  border-bottom: none;
}

.cart-item img {
  width: 180px;
  height: 180px;
  object-fit: contain;
}

.empty {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("./assets/images/tile_background.png");
}

.empty::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  opacity: 0.8;
}

.empty h2 {
  z-index: 1;
  color: #fff;
}

.empty svg {
  color: #fff;
}

.empty a {
  z-index: 1;
  display: flex;
  font-size: 1.5rem;
  align-items: center;
  text-decoration: none;
  gap: 8px;
  background: hsla(333, 100%, 53%, 1);

  background: linear-gradient(
    90deg,
    hsla(333, 100%, 53%, 1) 0%,
    hsla(33, 94%, 57%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(333, 100%, 53%, 1) 0%,
    hsla(33, 94%, 57%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(333, 100%, 53%, 1) 0%,
    hsla(33, 94%, 57%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FF0F7B", endColorstr="#F89B29", GradientType=1 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.empty a:hover svg {
  transition: transform 0.25s;
}

.empty a:hover svg {
  transform: translateX(-4px);
}

.back-btn {
  display: inline-block;
  color: #000;
}

.item-price {
  margin-left: auto;
}

.checkout {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-size: 1.5rem;
  padding: 1.25rem;
  margin-top: 8px;
  flex-grow: 1;
  border-radius: 24px;
}

.checkout-btn {
  width: 100%;
  border: none;
  cursor: pointer;
  padding: 8px;
  border-radius: 24px;
  background-color: var(--color-accent);
  color: #fff;
}
